<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回" defaultHref="/passport/login"></ion-back-button>
    </ion-buttons>
    <ion-title>找回密码</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    1、输入邮箱或者手机号>2、输入验证码>3、重置密码
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <img src="assets/img/logoin_title.jpg" alt="">
  <div class="ion-padding-horizontal">
    <form #forgotPasswordForm="ngForm">
      <ion-list class="ion-no-margin ion-no-padding">
        <ion-item lines="none"></ion-item>
        <ion-item>
          <ion-label position="fixed">账号</ion-label>
          <ion-input name="phoneOrEmail" type="text" placeholder="手机号或者电子邮箱" required [(ngModel)]="phoneOrEmail"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top">
          <ion-label position="fixed">验证码</ion-label>
          <ion-input name="code" type="text" placeholder="请输入验证码" required [(ngModel)]="code"></ion-input>
          <ion-button id="sendSMS" color="primary" expand="full" slot="end" (click)="onSendSMS();">发送验证码</ion-button>
        </ion-item>
        <ion-item lines="none"></ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" (click)="onResetPassword(forgotPasswordForm)">重置密码</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
