.text-size{
    font-size: 20px;  
}
.text-juzhong{
    position: relative;
    text-align: center;
    
}
.buttonstyle{
    font-size: 20px;
    text-align: center;
    
}
.item-name{
    font-size: 23px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}
.barcode-style{
    margin-top: -10px;
    color: #808080;
    font-size: 16px;
}
.price-style{
    margin-top: 4%;
    margin-bottom:4px;
    font-size: 15px;
    position: absolute;
}
.icon-style{
    font-size: 25px;
    bottom: 30%;
    position: absolute;
    
}