<ion-header>

</ion-header>

<ion-content>
  <div class="ion-text-center">
    <img class="logo" src="assets/img/logo.png" alt="">
  </div>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <img src="assets/img/registered_one.png" alt="" *ngIf="slideIndex!==0">
        <img src="assets/img/registered_one_one.png" alt="" *ngIf="slideIndex===0">
      </ion-col>
      <ion-col class="ion-align-self-center">
        <hr>
      </ion-col>
      <ion-col>
        <img src="assets/img/registered_two.png" alt="" *ngIf="slideIndex!==1">
        <img src="assets/img/registered_two_two.png" alt="" *ngIf="slideIndex===1">
      </ion-col>
      <ion-col class="ion-align-self-center">
        <hr>
      </ion-col>
      <ion-col>
        <img src="assets/img/registered_three.png" alt="" *ngIf="slideIndex!==2">
        <img src="assets/img/registered_three_three.png" alt="" *ngIf="slideIndex===2">
      </ion-col>
      <ion-col class="ion-align-self-center">
        <hr>
      </ion-col>
      <ion-col>
        <img src="assets/img/register_four.png" alt="" *ngIf="slideIndex!==3">
        <img src="assets/img/register_four_four.png" alt="" *ngIf="slideIndex===3">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides #signupSlides class="slides-style">
    <ion-slide>
      <!--#xxx代表组件的变量名-->
      <form (ngSubmit)="onSubmitPhone(phoneForm)" #phoneForm="ngForm">
        <ion-list>
          <ion-item>
            <ion-input name="phone" type="number" placeholder="请输入您的手机号码" required  pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\d{8}$" [(ngModel)]="signup.phone" #phone="ngModel">
            </ion-input>
          </ion-item>
          <ion-text class="ion-text-left" color="danger" *ngIf="phone.invalid && phone.touched">
            <p [hidden]="!phone.errors?.required" class="padding-start">请输入手机号码</p>
            <p [hidden]="!phone.errors?.pattern" class="padding-start">您输入的手机号格式不正确</p>
          </ion-text>
        </ion-list>
        <div class="ion-padding-horizontal">
          <ion-button type="submit" expand="full" color="primary" [disabled]="phoneForm.invalid" (click)="onNext()">下一步</ion-button>
        </div>
        <ion-row>
          <ion-col>
            <p class="padding-start">已有账号？</p>
          </ion-col>
          <ion-col>
            <a href="/passport/login" class="padding-end">立即登录</a>
          </ion-col>
        </ion-row>
      </form>
    </ion-slide>
    <ion-slide>
      <form (ngSubmit)="onValidateCode(codeForm)" #codeForm="ngForm">
        <ion-list>
          <ion-item>
            <ion-input name="code" slot="start" placeholder="输入验证码" required [(ngModel)]="signup.code" #code="ngModel"></ion-input>
            <ion-button id="sendSMS" color="primary" expand="full" slot="end" (click)="onSendSMS();">发送验证码</ion-button>
          </ion-item>
          <ion-text class="ion-text-left" color="danger" *ngIf="code.invalid && code.touched">
            <p [hidden]="!code.errors?.required" class="padding-start">请输入验证码</p>
          </ion-text>
        </ion-list>
        <ion-row>
          <ion-col>
            <div class="ion-padding-horizontal">
              <ion-button type="submit" expand="full" color="primary" (click)="onPrevious()">上一步</ion-button>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-padding-horizontal">
              <ion-button type="submit" expand="full" color="primary" [disabled]="codeForm.invalid" (click)="onNext()">下一步</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-slide>

    <ion-slide>
      <!--#xxx代表组件的变量名-->
      <form (ngSubmit)="onSubmitEmail(emailForm)" #emailForm="ngForm">
        <ion-list>
          <ion-item>
            <ion-input name="shopName" type="string" placeholder="请输入您的店铺名称" required [(ngModel)]="signup.shopName" #shopName="ngModel">
            </ion-input>
          </ion-item>
          <ion-text class="ion-text-left" color="danger" *ngIf="shopName.invalid && shopName.touched">
            <p [hidden]="!shopName.errors?.required" class="padding-start">请输入店铺名称</p>
          </ion-text>
          <ion-item>
            <ion-input name="email" type="string" placeholder="请输入您的电子邮箱" required pattern="([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})" [(ngModel)]="signup.email" #email="ngModel">
            </ion-input>
          </ion-item>
          <ion-text class="ion-text-left" color="danger" *ngIf="email.invalid && email.touched">
            <p [hidden]="!email.errors?.required" class="padding-start">请输入电子邮箱</p>
            <p [hidden]="!email.errors?.pattern" class="padding-start">您输入的电子邮箱格式不正确</p>
          </ion-text>
          <ion-item>
            <ion-input name="password" type="password" placeholder="请输入您的密码" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,16}$" [(ngModel)]="signup.password" #password="ngModel">
            </ion-input>
          </ion-item>
          <ion-text class="ion-text-left" color="danger" *ngIf="password.invalid && password.touched">
            <p [hidden]="!password.errors?.required" class="padding-start">请输入密码</p>
            <p [hidden]="!password.errors?.pattern" class="padding-start">格式（大小写字母+数字,至少8位）</p>
          </ion-text>
          <ion-item>
            <ion-input name="confirmPassword" type="password" placeholder="请再次输入您的密码" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,16}$" [(ngModel)]="signup.confirmPassword" #confirmPassword="ngModel">
            </ion-input>
          </ion-item>
          <ion-text class="ion-text-left" color="danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">
            <p [hidden]="!confirmPassword.errors?.required" class="padding-start">请再次输入密码</p>
            <p [hidden]="!confirmPassword.errors?.pattern" class="padding-start">您输入的密码格式不正确</p>
          </ion-text>
        </ion-list>
        <ion-row>
          <ion-col>
            <div class="ion-padding-horizontal">
              <ion-button type="submit" expand="full" color="primary" (click)="onPrevious()">上一步</ion-button>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-padding-horizontal">
              <ion-button type="submit" expand="full" color="primary" [disabled]="emailForm.invalid" (click)="onNext()">下一步</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-slide>

    <ion-slide>

        <div class="ion-padding-horizontal">
          <ion-button type="submit" expand="full" color="primary" (click)="onRegister()">注册成功</ion-button>
        </div>
    </ion-slide>
  </ion-slides>
  <yxy-copyright [bottom]="'20px'"></yxy-copyright>
</ion-content>
