.logo {
    width: 88%;
    margin-top: 40px;
}
hr {
    height: 1.5px;
    border: none;
    background-color: black;
}
.full-width {
    width: 100%;
}
.image-style {
    width: 500%;
    margin-top: 20px;
}
.code-style {
    width: 80%;
    margin: 0 auto;
}
.slides-style {
    margin-top: 20px;
}
.label-style {
    font-size: 50px;
}
