<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="xiayi" >商品详情</ion-title>
    <ion-buttons class="xiayi" slot="end">
      <!-- onChangeorDelete() -->
      <ion-button color="light"  (click)="onChangeorDelete() "   >
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list lines="none" >
    <ion-item  *ngIf="p.images.length !== 0"> 
      <ion-thumbnail    *ngFor=" let i of p.images " >
        <img src={{i}}>
      </ion-thumbnail>
    </ion-item>
    <ion-item *ngIf="p.images.length === 0">
      <ion-thumbnail slot="start" >
        <img  src="assets/img/supplier_icon.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list class=""> 
    <ion-item no-padding>
      <ion-label >条形码:</ion-label>
      <ion-label class="atright">{{p.barcode}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>分类:</ion-label>
      <ion-label class="atright">{{p.categoryName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>名称:</ion-label>
      <ion-label class="atright">{{p.name}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="jiange">
    <ion-item>
      <ion-label >售价:</ion-label>
      <ion-label class="atright">￥{{p.price | number:'1.2-2'}}</ion-label>
    </ion-item>
    <ion-item no-padding>
      <ion-label >进价:</ion-label>
      <ion-button *ngIf="showpurchasePrice===false"   class="buttonstyle" color="primary" (click)="showPurchasePrice()" >
        <ion-label > 查看进价 </ion-label>
      </ion-button>
      <ion-label *ngIf="showpurchasePrice===true" class="atright">￥{{p.purchasePrice | number:'1.2-2'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>库存:</ion-label>
      <ion-label class="atright">{{p.inventory}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>规格:</ion-label>
      <ion-label class="atright">{{p.standard}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label >备注:</ion-label>
      <ion-label text-wrap class="atright">{{p.remarks}}</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col></ion-col>
      <ion-col size="5" class="ion-no-padding">
        <ion-button expand="full" color="primary" routerLink="/product/product-storage" [queryParams]="{id: id}"  >
          出/入库
        </ion-button>
      </ion-col>
      <ion-col size="5" class="ion-no-padding">
        <ion-button class=" button button-outline button-positive" expand="full" color="" (click)="onShare()" >
          分享
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>