.toolbar-md {
    min-height: 67px !important;//47px的头部改成67px
}
ion-title {
    padding-top: 10px;//标题向上留20px
}
.back-button.show-back-button {
    padding-top: 20px;//返回箭头下降20px
}
//iOS头部加20px
.toolbar-ios {
    min-height: 66px !important;
}
.toolbar-ios ion-title {
    padding: 20px 90px 1px !important;
}
.dangertext {
    margin-left:120px;  
}