<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回" defaultHref="/me/setting"></ion-back-button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div class="ion-padding-horizontal">
    <form #resetPasswordForm="ngForm">
      <ion-list>
        <ion-item lines="none"><ion-label>请输入旧密码</ion-label></ion-item>
        <ion-item lines="none">
          <ion-input name="oldPassword" type="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,16}$" [(ngModel)]="oldPassword">
          </ion-input>
        </ion-item>
        <ion-text class="ion-text-left" color="danger" *ngIf="oldPassword.invalid && oldPassword.touched">
          <p [hidden]="!oldPassword.errors?.required" class="padding-start">请输入旧密码</p>
          <p [hidden]="!oldPassword.errors?.pattern" class="padding-start">您输入的密码格式不正确</p>
        </ion-text>
        <ion-item lines="none"><ion-label>请输入新密码</ion-label></ion-item>
        <ion-item lines="none">
          <ion-input name="password" type="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,16}$" [(ngModel)]="password">
          </ion-input>
        </ion-item>
        <ion-text class="ion-text-left" color="danger" *ngIf="password.invalid && password.touched">
          <p [hidden]="!password.errors?.required" class="padding-start">请输入新密码</p>
          <p [hidden]="!password.errors?.pattern" class="padding-start">您输入的密码格式不正确</p>
        </ion-text>
        <ion-item lines="none"><ion-label>请再输入一次</ion-label></ion-item>
        <ion-item lines="none">
          <ion-input name="confirmPassword" type="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,16}$" [(ngModel)]="confirmPassword">
          </ion-input>
        </ion-item>
        <ion-text class="ion-text-left" color="danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">
          <p [hidden]="!confirmPassword.errors?.required" class="padding-start">请再输入一次</p>
          <p [hidden]="!confirmPassword.errors?.pattern" class="padding-start">您输入的密码格式不正确</p>
        </ion-text>
      </ion-list>
      <div class="ion-padding-horizontal">
        <ion-button type="submit" expand="full" color="primary" [disabled]="resetPasswordForm.invalid" (click)="resetPassword()">修改密码</ion-button>
      </div>
    </form>
  </div>
</ion-content>

