<ion-header>
  <ion-toolbar>
    <ion-title>resetPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <img src="assets/img/logoin_title.jpg" alt="">
  <div class="ion-padding-horizontal">
    <form #resetPasswordForm="ngForm">
      <ion-list>
        <ion-item>
          <ion-input name="password" type="password" placeholder="请输入您的密码" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,16}$" [(ngModel)]="password">
          </ion-input>
        </ion-item>
        <ion-text class="ion-text-left" color="danger" *ngIf="password.invalid && password.touched">
          <p [hidden]="!password.errors?.required" class="padding-start">请输入密码</p>
          <p [hidden]="!password.errors?.pattern" class="padding-start">您输入的密码格式不正确</p>
        </ion-text>
        <ion-item>
          <ion-input name="confirmPassword" type="password" placeholder="请再次输入您的密码" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,16}$" [(ngModel)]="confirmPassword">
          </ion-input>
        </ion-item>
        <ion-text class="ion-text-left" color="danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">
          <p [hidden]="!confirmPassword.errors?.required" class="padding-start">请再次输入密码</p>
          <p [hidden]="!confirmPassword.errors?.pattern" class="padding-start">您输入的密码格式不正确</p>
        </ion-text>
      </ion-list>
      <div class="ion-padding-horizontal">
        <ion-button type="submit" expand="full" color="primary" [disabled]="resetPasswordForm.invalid" (click)="resetPassword()">修改密码</ion-button>
      </div>
    </form>
  </div>
</ion-content>
